.product img {
  width: 100%;
  height: 286px;
  padding: 10px;
}
.product {
  border: 2px solid #95a0a7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.product-info {
  margin: 0 14px;
}
.product span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #2a414f;
}
.product-name {
  font-size: 21px;
  line-height: 25px;
}
.add-to-cart {
  background: #ffe0b3;
  padding: 15px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  margin-top: auto;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  color: #2a414f;
}
.add-to-cart:hover {
  background: orange;
  transition: .3s;
}
