.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 146px;
    padding-right: 140px;

}
.header a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    
}
.header a:hover{
    cursor: pointer;
    color: antiquewhite;
    transform: scale(1.1);
    display: inline-block;
    background: #FFE0B3;
    color: #000;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;

}